*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#img-profile{
    width: 90px;
    max-width: 90px;
    height: 90px;
    max-height: 90px;
    cursor: pointer;
    
}

#logout{
    fill: #fff;
    width: 70px;
    max-width: 70px;
    height: 70px;
    max-height: 70px;
    cursor: pointer;
}